.wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: auto 1fr;
}

.info {
  display: grid;
}

.title {
  font-size: 24px;
}

.artist {
  color: var(--disabled);
}

.artistName {
  color: var(--primary)
}

.duration {
  color: var(--secondary);
  font-size: var(--fs-sm);
}