.avatar {
  align-items: center;
  background-color: var(--primary);
  border-radius: 50%;
  color: var(--background);
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}