.buttonLink {
  align-items: center;
  background-color: var(--background);
  border-radius: 10px;
  border: 1px solid var(--white);
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  justify-content: center;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--transition);
}

.buttonLink:disabled {
  background-color: var(--disabled);
  border-color: var(--disabled);
  color: var(--secondary);
  cursor: not-allowed;
}

.buttonLink:not([disabled]):hover {
  background-color: var(--white);
  color: var(--background);
}