.header {
  align-items: center;
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: 1fr;
  
  @media (min-width: 768px) {
    grid-template-columns: 1fr auto;
  }
}

.actions {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
}

.empty {
  border: 1px dashed var(--primary);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: calc(100% - 40px);
  transition: var(--transition);
  text-align: center;
}

.empty:hover {
  border-color: var(--highlight);
  border-style: solid;
  background-color: var(--highlight);
  color: var(--white);
}